:root {
    --light: #FAFCFF;
    --bright: #fff;
    --medium: #fafafa;
    --primary: #004cff;
    --secondary: #ffd500;
    : #ff0033;
    --gold: #FFD700;
    --general: #000080;
    --dark: #1d1d1d;
    --spacing-sm: 0.5rem;
    --spacing-base: 1rem;
    --spacing-md: 2rem;
    --spacing-lg: 7rem;
    --spacing-xl: 10rem;
    --rounded-base: 1.5rem;
    --text-base: 1rem;
    --text-md: 1.5rem;
    --text-lg: 2rem;
    --text-xl: 4rem;
}

body {
    background-color: var(--gold);
}

header {
    background-color: var(--general);
    color: var(--bright);
    padding: var(--spacing-sm);
    text-align: center;
    font-weight: bold;
    border-radius: 16px;
}

.content {
    width: 100vh;
    color: var(--general);
    padding: var(--spacing-base);
}

.gif {
    width: 50%;
    height: 50%;
}

button {
    appearance: button;
    background-color: #1899D6;
    border: solid transparent;
    border-radius: 16px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: din-round, sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin-bottom: var(--spacing-base);
    padding: 13px 16px;
}

.button-link {
    color: var(--bright);
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

video {
    width: 70%;
    height: 70%;
}

footer {
    background-color: var(--general);
    color: var(--bright);
    padding: var(--spacing-sm);
    text-align: center;
    font-weight: bold;
    border-radius: 16px;
}