<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ThinkTap - tutorial</title>
    <link rel="stylesheet" href="../../public/css/main.css">
</head>

<body>

    <header>
        <p>
            ThinkTap
        </p>
    </header>

    <div class="content">

        <div class="intro">
            <h1>
                Welkom bij ThinkTap
            </h1>

            <p>
                Dit spel is gemaakt om de wondere wereld van het programmeren te ontdekken. Lees hier de tutorial en
                geniet daarna van onze game.
            </p>
        </div>

        <div class="info">
            <h2>
                Wat is ThinkTap?
            </h2>
            <p>
                ThinkTap is een puzzelspel genaamd "X" en "O", die om de beurt de velden in een 3×3 raster markeren. De
                speler die erin is geslaagd drie respectieve merktekens in een horizontale, verticale of diagonale rij
                te plaatsen, wint het spel.
            </p>

            <h2>
                Hoe te spelen?
            </h2>
            <p>
                Gebruik je muis om een "X" of "O" te plaatsen in het raster door te klikken in het raster.
            </p>
            <img class="gif" src="../../public/images/playing-draw.gif" alt="how-to-play-game-gif">
        </div>

        <div class="game">
            <h2>
                It's play time!
            </h2>
            <p>
                Wij wensen jou een epische tijd met ons spel!
            </p>
        </div>

        <div class="button">
            <a href="./game.html">
                speel spel!
            </a>
        </div>

    </div>

    <footer>
        <p>
            © 2023 ThinkTap
        </p>
    </footer>
</body>

</html>