<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ThinkTap - tutorial</title>
    <link rel="stylesheet" href="../../public/css/main.css">

    <link rel="apple-touch-icon" sizes="180x180" href="../../public/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../public/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../public/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="../../public/images/favicon/site.webmanifest">
    <link rel="mask-icon" href="../../public/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="../../public/images/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="../../public/images/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
</head>

<body>

    <header>
        <h1>
            ThinkTap
        </h1>
    </header>

    <div class="content">

        <div class="intro">
            <h1>
                Welkom bij ThinkTap
            </h1>

            <p>
                Dit spel is gemaakt om de wondere wereld van het programmeren te ontdekken. Lees hier de tutorial en
                geniet daarna van onze game.
            </p>
        </div>

        <div class="info">
            
            <h2>
                Wat is ThinkTap?
            </h2>
            <p>
                ThinkTap is een puzzelspel genaamd "X" en "O", die om de beurt de velden in een 3×3 raster markeren. De
                speler die erin is geslaagd drie respectieve merktekens in een horizontale, verticale of diagonale rij
                te plaatsen, wint het spel.
            </p>

            <h2>
                Hoe te spelen?
            </h2>
            <p>
                Gebruik je muis om een "X" of "O" te plaatsen in het raster door te klikken in het raster.
            </p>
            <img class="gif" src="../../public/images/playing-draw.gif" alt="how-to-play-game-gif">
        </div>

        <div class="game">

            <h2>
                It's play time!
            </h2>
            <p>
                Wij wensen jou een epische tijd met ons spel!
            </p>
        </div>

        <button>
            <a class="button-link" href="./game.html">
                speel spel!
            </a>
        </button>

        <div class="game-tutorial">
            <h1>
                ThinkTap Code Tutorial 
            </h1>
            <p>
                Hieronder vind je de nodige uitleg en code die je nodig hebt om het spel te maken.
            </p>
    
            <h3>
                Stap 1
            </h3>
            <p>
                Installeer Visual Studio Code op uw computer of laptop via deze <a href="https://code.visualstudio.com/download" target="_blank">link</a>. Verder moet u in Visual Studio Code een extensie installeren deze heet: live server met deze extensie kunt u een server opstarten en u restultaat zien van uw geschreven code. De link naar deze extensie en hoe deze te laten werken vindt u <a href="https://marketplace.visualstudio.com/items?itemName=ritwickdey.LiveServer" target="_blank">hier</a>.
            </p>
    
            <h3>
                Stap 2
            </h3>
            <p>
                Als Visual Studio Code geïnstalleerd is maakt u op u coputer of latptop en nieuwe map aan en geeft u die een naam bv. "game", waar die map staat kiest u zelf daarna opent u Visual Studio Code.
            </p>
    
            <h3>
                Stap 3
            </h3>
            <p>
                Als Visual Studio Code open staat gaat u uw map daarin openen. Bekijk onderstaand filmpje.
            </p>
            <video controls>
                <source src="../../public/videos/setup-project-VSCode.mp4" type="video/mp4">
            </video>
        
            <h3>
                Stap 4
            </h3>
            <p>
                Nu uw map geopent is in Visual Studio Code kunnen we gaan beginnen met programmeren en de eerste stap is een index.html bestand aanmaken. Bekijk onderstaand filmpje.
            </p>
            <video controls>
                <source src="../../public/videos/creating-an-HTML-file-VSCode.mp4" type="video/mp4">
            </video>

            <h3>
                Stap 5
            </h3>
            <p>
                Nu we een index.html bestand hebben kunnen we bijna beginnen met programmeren eerst maken we nog een map aan waar onze css, JavaScript en afbeeldingen zullen komen als voorbeeld noem ik de map static. Bekijk in onderstaand filmpje.
            </p>
            <video controls>
                <source src="../../public/videos/create-a-folder-VSCode.mp4" type="video/mp4">
            </video>
            <p>In bovenstaand filmpje wordt getoond hoe u de map static aanmaakt en 2 submappen JavaScript afgekort js en een css map</p>

            <h3>
                Stap 6
            </h3>
            <p>
                Nu we een index.html bestand hebben kunnen we beginnen met programmeren. In openstaand index.html bestand kopieer en plak (windows commando's kopieer: Ctrl + C) en (windows commando's plakken: Ctrl + V) (mac commando's knippen: Command + C) (mac commando's knippen: Command + V) je volgende code:
            </p>
            <script async src="//jsfiddle.net/fxyqv43d/3/embed/html/dark/"></script>
            <p>
                Met de bovenstaande HTML code hebt u de basis voor de game. Hebt u geen idee hoe u dit aanpakt? Geen probleem bekijk dan onderstaand filmpje en volg de stappen.
            </p>
            <video controls>
                <source src="../../public/videos/HTML-file-with-html-code-VSCode.mp4" type="video/mp4">
            </video>

            <h3>
                Stap 7
            </h3>
            <p>
                Als u alle vorige stappen goed gevolgd hebt zou u volgend restultaat moeten bekomen.
            </p>
            <script async src="//jsfiddle.net/fxyqv43d/embed/result/dark/"></script>
            <p>
                Dit is puur HTML zoals u ziet gebeurd er nog niks speciaals, er werkt ook nog niks daarom gaan we nu de JavaScript toevoegen.
            </p>

            <h3>
                Stap 8
            </h3>
            <p>
                We beginnen met een main.js bestand te maken in dat bestand komt al de nodige JavaScript. Bekijk onderstaand filmpje.
            </p>
            <video controls>
                <source src="../../public/videos/start-of-a-js-file-VSCode.mp4" type="video/mp4">
            </video>

            <h3>
                Stap 9
            </h3>
            <p>
                Nu we een main.js bestand hebben kunnen we beginnen met programmeren. In openstaand main.js bestand kopieer en plak (windows commando's kopieer: Ctrl + C) en (windows commando's plakken: Ctrl + V) (mac commando's knippen: Command + C) (mac commando's knippen: Command + V) je volgende code:
            </p>
            <script async src="//jsfiddle.net/fxyqv43d/2/embed/js/dark/"></script>
            <p>
                Met de bovenstaande JavaScript code hebt u de basis functies voor de game. Hebt u geen idee hoe u dit aanpakt? Geen probleem bekijk dan het filmpje uit stap 6 dit is exact hetzelfde maar dan met JavaScript.
            </p>
            <script async src="//jsfiddle.net/fxyqv43d/2/embed/result/dark/"></script>
            <p>
                als u bovenstaand restultaat bekijkt ziet u geen verschil dit klopt visueel is er niks veranderd daarom is het nu tijd om de css file aan te maken en ervoor te zorgen dat dit werkt.
            </p>

            <h3>
                Stap 10
            </h3>
            <p>
                Nu we een index.html en een main.js bestand hebben kunnen we beginnen met het toevoegen van een main.css bestand. om een css file aan te maken bekijkt u het filmpje van stap 8 dit is exact dezelfde werkwijze het enige verschill is dat u in de map css werkt
            </p>

            <h3>
                Stap 11
            </h3>
            <p>
                Nu we een index.html en een main.js bestand hebben kunnen we beginnen met het toevoegen van de css. In openstaand main.css bestand kopieer en plak (windows commando's kopieer: Ctrl + C) en (windows commando's plakken: Ctrl + V) (mac commando's knippen: Command + C) (mac commando's knippen: Command + V) je volgende code:
            </p>
            <script async src="//jsfiddle.net/fxyqv43d/5/embed/css/dark/"></script>
            <p>
                Met de bovenstaande css code hebt u de basis stijl voor de game. Hebt u geen idee hoe u dit aanpakt? Geen probleem bekijk dan het filmpje uit stap 6 dit is exact hetzelfde maar dan met JavaScript.
            </p>
            <iframe width="100%" height="300" src="//jsfiddle.net/fxyqv43d/6/embedded/result/dark/" allowfullscreen="allowfullscreen" allowpaymentrequest frameborder="0"></iframe>
            <p>
                Als u bovenstaand restultaat bekijkt ziet u dat er nu wel een verschil is. Dit is de basis van de game. Gefeliciteerd! Als alle stappen goed zijn uitgevoerd hebt nu net een game gemaakt met HTML, CSS en JavaScript.
            </p>
        </div>
        
    </div>

    <footer>
        <p>
            © 2023 ThinkTap
        </p>
    </footer>

</body>

</html>