<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ThinkTap - tutorial</title>
    <link rel="stylesheet" href="../../public/css/main.css">

    <link rel="apple-touch-icon" sizes="180x180" href="../../public/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../public/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../public/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="../../public/images/favicon/site.webmanifest">
    <link rel="mask-icon" href="../../public/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="../../public/images/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="../../public/images/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
</head>

<body>

    <header>
        <h1>
            ThinkTap
        </h1>
    </header>

    <div class="content">

        <div class="intro">
            <h1>
                Welkom bij ThinkTap
            </h1>

            <p>
                Dit spel is gemaakt om de wondere wereld van het programmeren te ontdekken. Lees hier de tutorial en
                geniet daarna van onze game.
            </p>
        </div>

        <div class="info">
            
            <h2>
                Wat is ThinkTap?
            </h2>
            <p>
                ThinkTap is een puzzelspel genaamd "X" en "O", die om de beurt de velden in een 3×3 raster markeren. De
                speler die erin is geslaagd drie respectieve merktekens in een horizontale, verticale of diagonale rij
                te plaatsen, wint het spel.
            </p>

            <h2>
                Hoe te spelen?
            </h2>
            <p>
                Gebruik je muis om een "X" of "O" te plaatsen in het raster door te klikken in het raster.
            </p>
            <img class="gif" src="../../public/images/playing-draw.gif" alt="how-to-play-game-gif">
        </div>

        <div class="game">

            <h2>
                It's play time!
            </h2>
            <p>
                Wij wensen jou een epische tijd met ons spel!
            </p>
        </div>

        <button>
            <a class="button-link" href="./game.html">
                speel spel!
            </a>
        </button>

        <div class="game-tutorial">
            <h1>
                ThinkTap Code Tutorial 
            </h1>
            <p>
                Hieronder vind je de nodige uitleg en code die je nodig hebt om het spel te maken.
            </p>
    
            <h3>
                Stap 1
            </h3>
            <p>
                Installeer Visual Studio Code op uw computer of laptop via deze <a href="https://code.visualstudio.com/download" target="_blank">link</a>. Verder moet u in Visual Studio Code een extensie installeren deze heet: live server met deze extensie kunt u een server opstarten en u restultaat zien van uw geschreven code. De link naar deze extensie en hoe deze te laten werken vindt u <a href="https://marketplace.visualstudio.com/items?itemName=ritwickdey.LiveServer" target="_blank">hier</a>.
            </p>
    
            <h3>
                Stap 2
            </h3>
            <p>
                Als Visual Studio Code geïnstalleerd is maakt u op u coputer of latptop en nieuwe map aan en geeft u die een naam bv. "game", waar die map staat kiest u zelf daarna opent u Visual Studio Code.
            </p>
    
            <h3>
                Stap 3
            </h3>
            <p>
                Als Visual Studio Code open staat gaat u uw map daarin openen. Bekijk onderstaand filmpje.
            </p>
            <video controls>
                <source src="../../public/videos/setup-project-VSCode.mp4" type="video/mp4">
            </video>
        
            <h3>
                Stap 4
            </h3>
            <p>
                Nu uw map geopent is in Visual Studio Code kunnen we gaan beginnen met programmeren en de eerste stap is een index.html bestand aanmaken. Bekijk onderstaand filmpje.
            </p>
            <video controls>
                <source src="../../public/videos/creating-an-HTML-file-VSCode.mp4" type="video/mp4">
            </video>

            <h3>
                Stap 5
            </h3>
            <p>
                Nu we een index.html bestand hebben kunnen we bijna beginnen met programmeren eerst maken we nog een map aan waar onze css, JavaScript en afbeeldingen zullen komen als voorbeeld noem ik de map static. Bekijk in onderstaand filmpje.
            </p>
            <video controls>
                <source src="../../public/videos/create-a-folder-VSCode.mp4" type="video/mp4">
            </video>
            <p>In bovenstaand filmpje wordt getoond hoe u de map static aanmaakt en 2 submappen JavaScript afgekort js en een css map</p>

            <h3>
                Stap 6
            </h3>
            <p>
                Nu we een index.html bestand hebben kunnen we beginnen met programmeren. In openstaand index.html bestand kopieer en plak je volgende code:
            </p>
            <script async src="//jsfiddle.net/fxyqv43d/embed/html/dark/"></script>
            <p>
                Met de bovenstaande HTML code hebt u de basis voor de game. Hebt u geen idee hoe u dit aanpakt? Geen probleem bekijk dan onderstaand filmpje en volg de stappen.
            </p>
            <video controls>
                <source src="../../public/videos/HTML-file-with-html-code-VSCode.mp4" type="video/mp4">
            </video>

            <h3>
                Stap 7
            </h3>
            <p>
                Als u alle vorige stappen goed gevolgd hebt zou u volgend restultaat moeten bekomen.
            </p>
            <script async src="//jsfiddle.net/fxyqv43d/embed/result/dark/"></script>
        </div>
        
    </div>

    <footer>
        <p>
            © 2023 ThinkTap
        </p>
    </footer>

</body>

</html>